.filter-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2% 5% 0 0;
}

.price-filter,
.quantity-filter {
  margin-left: 2%;
  color: #7722f0;
  cursor: pointer;
}
